* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
  }
/* Main Grid Container */
.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    resize: both;

    display: grid;
    /* gap: 4px; */
    border: 1px solid grey;
    background-color: skyblue;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
  
  }

  /* Header Container */
.header {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    grid-area: 1 / 2 / 2 / 3; 

    justify-self: start;
    align-self: start;
    font-size: 5vw;
box-shadow: 2px 6px 5px 3px rgba(0,0,0,0.25);

}


  
  /* Sidebare Container */
.sidebar{
    background-color: #b8b8b8;
    grid-area: 1 / 1 / 3 / 2; 


    display: grid;
    gap: 4px;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;

}
.logo{

    width: clamp(1vw, 5vw, 40vw);
    height: clamp(1vw, 5vw, 40vw);
}

.form-container {

    justify-self: center;
    align-self: center;
    width: 80%;
    height: 50%;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    padding-left: 2vw;
    box-shadow: 2px 2px 7px 1px rgba(28,110,164,0.65);
}
input{ 
    margin-right: 10px;
}

.input-row {
    display: flex;
    /* justify-content: space-between; */
    
    margin-right: 3vw;
}
.input-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-row input {
    width: 20vw;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


/* main-content container */
.main-content {
    background-color: #ccdbff;
    grid-area: 2 / 2 / 3 / 3; 


    display: grid;
    /* gap: 15px; */
    grid-template-rows: 1fr;
    grid-template-columns: 3fr; 
}      

#blogs {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 15px;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    grid-template-columns: 1fr 1fr; 

}
#blog-title{
    grid-area: 1 / 1 / 2 / 3; 
    /* padding: 30px; Spacing inside the card */
    margin: 3vh; /* Spacing around the card */
    justify-self: start;
    align-self: center;
    font-weight: bolder;
    font-size: 3vh;
}


.blog-grid-item {
    background-color: #ffffff; /* Card background color */
    border-radius: 10px; /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow to lift the card off the page */
    /* width: 75%; 
    height: 75%; */
    padding: 30px; /* Spacing inside the card */
    margin: 3vh; /* Spacing around the card */
    transition: all 0.3s ease; /* Smooth transition for hover effect */

    display: grid;
    gap: 15px;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr; 
  }

  .blog-grid-item:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Darker shadow on hover for a "lifting" effect */
  }

.blog-item{
    text-align: start;
    justify-self: start;
    align-self: start;
}


.blog-logo{
    height: 100%;
    width:  100%;
    justify-self: end;
    align-self: start;

    display: grid;
    gap: 15px;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr 1fr 1fr; 
}

